pytest==7.4.3
pytest-cov==4.0.0
requests==2.31.0
selenium==4.17.2
Appium-Python-Client==2.11.1
allure-behave==2.13.5
allure-python-commons==2.13.5
axe-selenium-python==2.1.6
behave==1.2.6
behavex==2.0.1
pandas==1.4.3
numpy==1.22.3
openpyxl==3.0.10
python-dotenv==0.20.0
psycopg2==2.9.5
ruff==0.0.260
coverage-badge~=1.1.0
cffi==1.15.1
