name: Generate Excel Status Report

on:
  push:
    branches:
      - main
  workflow_dispatch: # Allows manual trigger

jobs:
  build-and-report:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install openpyxl

    - name: Test with pytest
      run: |
          coverage run -m pytest  -v -s

    - name: Generate Coverage Report
      run: |
          coverage report -m

    - name: Run report script using absolute path
      run: python ${{ github.workspace }}/generate_report.py


    - name: Generate the Excel report
      run: python generate_report.py

      

    - name: Upload Report
      uses: actions/upload-artifact@v4
      with:
         name: generated-report
         path: Generated_Report.xlsx # Use the correct path found in the debug step
         if-no-files-found: error


    