name: Python application build and test
on: [push, pull_request] 

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    env:
        sheet_name: ${{ secrets.SHEET_NAME }}
        sheet_id: ${{ secrets.SHEET_ID }}
        app_password: ${{ secrets.APP_PASSWORD }}
        sender_email: ${{ secrets.SENDER_EMAIL }}
        recipient_mail: ${{ secrets.RECIPIENT_MAIL }}


    steps:
      - name: Checkout repository
        uses: actions/checkout@v3


      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest pandas openpyxl

      #- name: Run report generation script
      #  run: python generate_report.py

      - name: Lint with Ruff
        run: |
          pip install ruff
          ruff --format=github --target-version=py310 .
        continue-on-error: true
      - name: Test with pytest
        run: |
          coverage run -m pytest  -v -s
      - name: Generate Coverage Report
        run: |
          coverage report -m

      - name: Run report script using absolute path
        run: python ${{ github.workspace }}/generate_report.py


      - name: Upload Report
        uses: actions/upload-artifact@v4
        with:
         name: Execution-Status-Report
         path: Execution-Status-Report.xlsx # Use the correct path found in the debug step
         if-no-files-found: error